<html>
	<head>
 	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skopos:Transcribe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/vendor/pure-min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mainsolo.css">
    <link rel="stylesheet" href="../css/collab.css">
    <link rel="stylesheet" href="../css/vendor/side-menu.css">
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<body>
    
    <div id="layout">

    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu"  class="pure-menu custom-restricted-width">
        
            <span class=" menu-title pure-menu-heading">
                <a class="menu-heading-home" href="/">S[k]opos</a>
            </span>
            <ul class="pure-menu-list">

                    <li class="pure-menu-item elem"><a href="/profile" class="pure-menu-link">Mi cuenta</a></li>
                    <li class="pure-menu-item elem"><a href="/logout" class="pure-menu-link">Cerrar Sessión</a></li>
               
                <li class="menu-title pure-menu-heading">Tools</li>
                <div class="toolbox">
                 
                    <div id="save" class="tool">
                        <i  class="save fa fa-floppy-o"></i>
                        Guardar
                    </div>
                    <div id="trash" class="tool">
                        <i  class="trash fa fa-trash-o"></i>
                        Eliminar
                    </div>
                  
                </div>
                
            </ul>
        
    </div>

 <div class="center_part">

		<div class="pure-g">
			<div class="toolbox"></div>
			<div class="pure-u-3-5">
                <div class="center">
				<div class="videoContainer">
                <div  class="videoTitle">
                    <h1 class="huge">
                       <div id="title_video">Titulo Video</div> 
                    </h1>
                </div>
                <div class="videoMedia">
                    <iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/CZJ2upI6qzM?enablejsapi=1&theme=light&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            	</div>

            	<div class="currentInput inputContainer" contenteditable="true" spellcheck="false">
                	<div  class="placeholder">Empiece a Transcribir Aquí!!</div>
            	</div>

            	<div class="stats">
	                <div class="progress">
                       <div class="completion totalProgress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Total</div>
                    </div>
                    <div class="progress">
                        <div class="completion partialProgress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">Parcial</div>
                    </div>
            	</div>

                <div class="collaboratorsContainer">
                    <h4>Colaboradores</h4>
                    <ul class="collaboratorsList">
                        <li class="collaborator">Andres</li>
                        <li class="collaborator">Juan</li>
                        <li class="collaborator">Torres</li>
                    </ul>
                </div>
                </div>
			</div>

			<div class="pure-u-2-5">
				  <div id="update">
                	<div class="prevInput"></div>
            	  </div>
			</div>

		</div>
   </div>
 </div>
	</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/singleplayer.js"></script>
<script src="../js/userinput.js"></script>
<script src="../js/editor.js"></script>
<script src="../js/ytplayer.js"></script>
<script src="../js/efectInput.js"></script>
<script src="../js/srtFormatter.js"></script>
<script src="../js/formatter.js"></script>
<script src="../js/tools.js"></script>
<script src="../js/characterCounter.js"></script>
</html>