<html>
<head>
	<title>Collaboration Setup</title>
	<link rel="stylesheet" href="../css/vendor/pure-min.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/collabconfig.css">
</head>

<body>
	<form class="pure-form pure-form-stacked" method="post">
		<fieldset>
			<legend>Configura</legend>

			<label for="videoId">Id video Youtube: </label>
			<input type="text" placeholder="youtube_id" name="videoId">

			<button type="submit"  class="pure-button pure-button-primary yellowback skopos-grey">
				Crear
			</button>
		</fieldset>
	</form>
</body>
</html>