<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Skopos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
           
            <h1 class="huge">S<span class="yellow">K</span>OPOS</h1>
            
                <a href="#modal-one" class="ingresar btn btn-big">Iniciar Sesión</a>

                <!-- Código correspondiente a la ventana Modal que permite el Login de Inicio de Sesion-->

                <div class="modal" id="modal-one" aria-hidden="true">
                    <div class="modal-dialog" >
                          
                          <div class="modal-header">
                            
                            <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Iniciar Sesión</h4>
                            <a href="#close" class="btn-close" aria-hidden="true">×</a>
                              
                          </div>
                              <div class="modal-body">
                              
                                    <p>Por favor ingrese los siguientes datos para iniciar sesión:</p>
                           
                                     <label id="label_user" for="input_user">Usuario:</label>
                                     <input type="text" id="input_user" placeholder="Usuario"><br>
                                    
                                    <label id="label_pass"  for="input_pass">Contraseña:</label>
                                    <input type="password" id="input_pass" placeholder="Password"><br>
                              </div>            
                              

                              <div class="modal-footer">
                                <input type="button" class="btn" id="button_loggin" value="Ingresar">
                                <a href="#close" class="btn">Cancelar</a>                   
                              </div>
                            
                            </form>
                        
                        </div>


                </div>
                
                <!-- Fin Ventana Modal de Login -->

                <div class="general_info group center">
                    <div class="col span_1_of_2">
                        <div class="top infobox">
                            <div class="group">
                                <div class="col description span_3_of_4">
                                    <div class="content_left">
                                    <h5>What</h5>
                                    <p>
                                        Magna cetero salutatus has in, vix eu velit senserit, noster argumentum ne vix. Altera laoreet posidonium.
                                        lorem
                                    </p>
                                </div>
                                </div>
                                <div class="col icon span_1_of_4"></div>
                            </div>
                        </div>
                        <div class="bottom infobox">
                            <div class="group">
                                <div class="col description span_3_of_4">
                                    <div class="content_left">
                                        <h5>How</h5>
                                        <p>
                                            Magna cetero salutatus has in, vix eu velit senserit, noster argumentum ne vix. Altera laoreet posidonium.
                                        </p>
                                    </div>
                                </div>
                                <div class="col icon span_1_of_4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                       <div class="top infobox">
                            <div class="group">
                                <div class="col icon span_1_of_4"></div>
                                <div class="col description span_3_of_4">
                                    <div class="content_right">
                                    <h5>Why</h5>
                                    <p>
                                        Magna cetero salutatus has in, vix eu velit senserit, noster argumentum ne vix. Altera laoreet posidonium.
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="bottom infobox">
                             <div class="group">
                                <div class="col icon span_1_of_4"></div>
                                <div class="col description span_3_of_4">
                                    <div class="content_right">
                                    <h5>Who</h5>
                                    <p>
                                        Magna cetero salutatus has in, vix eu velit senserit, noster argumentum ne vix. Altera laoreet posidonium.
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rombo">
                    </div>
                </div>

                <div>
                    <div class="group stats row">
                        <div class="design col span_1_of_3">
                            <div class="result">
                                <img class="icon_2" src="../img/icono1.png"></img>
                                <span class="label_out"> 1200 </span>
                                <span class="label_in" > Design Experiments </span>
                            </div>
                        </div>
                        <div class="won col span_1_of_3">
                            <div class="result">
                                <img class="icon_2" src="../img/icono2.png"></img>
                                <i></i>
                                <span class="label_out"> 578 </span>
                                <span  class="label_in"> Awards Won </span>
                            </div>
                        </div>
                        <div class="sent col span_1_of_3">
                            <div class="result">
                                <i></i>
                                <img class="icon_2" src="../img/icono3.png"></img>
                                <img class="icon_2"></img>
                                <span class="label_out"> 12489 </span>
                                <span class="label_in"> Messages Sent </span>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="group content center row">
                    <div class="col span_1_of_2">
                        <h3>Ranking</h3>
                        
                        <div class="ranking">
                            <table>
                                <th>Player</th>
                                <th>Score</th>
                                <tr>
                                    <td>Jhon</td>
                                    <td>57122</td>
                                </tr>
                                <tr>
                                    <td>Snow</td>
                                    <td>57121</td>
                                </tr>
                                <tr>
                                    <td>Jhon</td>
                                    <td>57122</td>
                                </tr>
                                <tr>
                                    <td>Snow</td>
                                    <td>57121</td>
                                </tr>
                                <tr>
                                    <td>Jhon</td>
                                    <td>57122</td>
                                </tr>
                                <tr>
                                    <td>Snow</td>
                                    <td>57121</td>
                                </tr>
                            </table>
                        </div>
                    </div>                   
                    <div class="col span_1_of_2">

                        <h3>Videos</h3>
                        
                        <div class="col span_1_of_2">
                            <img class="video_min" src="http://img.youtube.com/vi/qObSFfdfe7I/0.jpg"></img>
                        </div>

                        <div class="col span_1_of_2">
                            <img class="video_min" src="http://img.youtube.com/vi/HOndhtfIXSY/0.jpg"></img>
                        </div>
                        
                         <div class="col span_3_of_3 ">
                            <img class="video_min" src="http://img.youtube.com/vi/0zKU7jDA2nc/0.jpg"></img>
                        </div>
                    </div>
                
                </div>


    </body>
</html>
