<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skopos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <nav class="topnav">
        <div class="right">
            <%if(user){%>
                <a href="/profile">Mi cuenta</a>
            <%}else{%>
                <a href="#modal-one" class="btn btn-big">Iniciar Sesión</a>
                <a href="/signup" class="btn btn-big">Registrarse</a>
            <%}%>
        </div>
    </nav>

    <h1 class="huge">S<span class="yellow">K</span>OPOS</h1>
    
    <!-- Modal login -->

    <div class="modal" id="modal-one" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-header">
            <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Iniciar Sesión</h4>
            <a href="#close" class="btn-close" aria-hidden="true">×</a>
        </div>

        <form action="/login" method="post">
            <div class="modal-body">

              <label id="label_user" >Usuario:</label>
              <input type="text" id="input_user" placeholder="example@mail.com" name="email"><br>
              <label id="label_pass"  >Contraseña:</label>
              <input type="password" id="input_pass" placeholder="******" name="password"><br>

          </div>

          <div class="modal-footer">
              <button type="submit" class="btn" id="button_loggin">Ingresar</button>
              <a href="#close" class="btn">Cancelar</a>
          </div>
      </form>
  </div>
</div>

<!-- Modal Login -->

<div class="general_info group center">
    <div class="col span_1_of_2">
        <a href="/solo" class="menu_link">
        <div class="top infobox">
            <div class="group">
                <div class="col description span_3_of_4">
                    <div class="content_left">
                        <h2>Transcribe</h2>
                        <p>
                            Sabemos lo dificil que es transcribir contenido, Skopos facilita la labor.
                        </p>
                    </div>
                </div>
                <div class="col icon span_1_of_4"><i class="fa fa-keyboard-o fa-2x icon_tl"></i></div>
            </div>
        </div>
        </a>
        <div class="bottom infobox">
            <div class="group">
                <div class="col description span_3_of_4">
                    <div class="content_left">
                        <h2>Compite</h2>
                        <p>
                            ¿Crees que escribes más rápido que tu oponente? Ponte a prueba y ayudanos a transcribir el mundo.
                        </p>
                    </div>
                </div>
                <div class="col icon span_1_of_4"> <i class="fa fa-trophy fa-2x icon_bl"></i> </div>
            </div>
        </div>
    </div>
    <div class="col span_1_of_2">
     <div class="top infobox">
        <div class="group">
            <div class="col icon span_1_of_4"><i class="fa fa-gamepad fa-2x icon_tr"></i></div>
            <div class="col description span_3_of_4">
                <div class="content_right">
                    <h2>Juega</h2>
                    <p>
                        Escribir de forma agil es una habilidad, entre más rapido seas más puntos ganas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bottom infobox">
       <div class="group">
        <div class="col icon span_1_of_4"><i class="fa fa-graduation-cap fa-2x icon_br"></i></div>
        <div class="col description span_3_of_4">
            <div class="content_right">
                <h2>Aprende</h2>
                <p>
                    Incrementa tus habilidades de escucha en el idioma que tanto quieres hablar.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="rombo">
</div>
</div>

<div>
    <div class="group stats row">
        <div class="design col span_1_of_3">
            <div class="result">
                <img class="icon_2" src="../img/icono1.png"></img>
                <span class="label_out"> 1200 </span>
                <span class="label_in" > Design Experiments </span>
            </div>
        </div>
        <div class="won col span_1_of_3">
            <div class="result">
                <img class="icon_2" src="../img/icono2.png"></img>
                <i></i>
                <span class="label_out"> 578 </span>
                <span  class="label_in"> Awards Won </span>
            </div>
        </div>
        <div class="sent col span_1_of_3">
            <div class="result">
                <i></i>
                <img class="icon_2" src="../img/icono3.png"></img>
                <img class="icon_2"></img>
                <span class="label_out"> 12489 </span>
                <span class="label_in"> Messages Sent </span>
            </div>
        </div>
    </div>
</div>


<div class="group content center row">
    <div class="col span_1_of_2">
        <h3>Ranking</h3>
        
        <div class="ranking">
            <table>
                <th>Player</th>
                <th>Score</th>
                <tr>
                    <td>Jhon</td>
                    <td>57122</td>
                </tr>
                <tr>
                    <td>Snow</td>
                    <td>57121</td>
                </tr>
                <tr>
                    <td>Jhon</td>
                    <td>57122</td>
                </tr>
                <tr>
                    <td>Snow</td>
                    <td>57121</td>
                </tr>
                <tr>
                    <td>Jhon</td>
                    <td>57122</td>
                </tr>
                <tr>
                    <td>Snow</td>
                    <td>57121</td>
                </tr>
            </table>
        </div>
    </div>                   
    <div class="col span_1_of_2">

        <h3>Videos</h3>
        
        <div class="col span_1_of_2">
            <img class="video_min" src="http://img.youtube.com/vi/qObSFfdfe7I/0.jpg"></img>
        </div>

        <div class="col span_1_of_2">
            <img class="video_min" src="http://img.youtube.com/vi/HOndhtfIXSY/0.jpg"></img>
        </div>
        
        <div class="col span_3_of_3 ">
            <img class="video_min" src="http://img.youtube.com/vi/0zKU7jDA2nc/0.jpg"></img>
        </div>
    </div>
    
</div>


</body>
</html>
