<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skopos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
     <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="../js/animaciones.js"></script>
</head>
<body>
    <nav class="topnav">
        <div class="right">
            <%if(user){%>
                <a href="/profile" class="btn btn-big">Mi Cuenta</a>
                <a href="/logout" class="btn btn-big">Cerrar Sesión</a>
            <%}else{%>
                <a href="#modal-one" class="btn btn-big">Iniciar Sesión</a>
                <a href="/signup" class="btn btn-big">Registrarse</a>
            <%}%>
        </div>
    </nav>

    <h1 class="huge">S<span class="yellow">K</span>OPOS</h1>
    <h4 class="huge_desc"> <i> Ayudanos a Transcribir el Mundo </i> </h4>
    
    <!-- Modal login -->

    <div class="modal" id="modal-one" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-header">
            <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Iniciar Sesión</h4>
            <a href="#close" class="btn-close" aria-hidden="true">×</a>
        </div>

        <form action="/login" method="post">
            <div class="modal-body">

              <label id="label_user" >Usuario:</label>
              <input type="text" id="input_user" placeholder="example@mail.com" name="email"><br>
              <label id="label_pass"  >Contraseña:</label>
              <input type="password" id="input_pass" placeholder="******" name="password"><br>

          </div>

          <div class="modal-footer">
              <button type="submit" class="btn" id="button_loggin">Ingresar</button>
              <a href="#close" class="btn">Cancelar</a>
          </div>
      </form>
  </div>
</div>

<!-- Modal Login -->

<div class="general_info group center">
    <div class="col span_1_of_2">
         <%if(user){%>
        <a href="/solo/new" class="menu_link">
        <%}else{%>
        <a href="/solo" class="menu_link">
         <%}%>
        <div class="top infobox">
            <div class="group">
                <div class="col description span_3_of_4">
                    <div class="content_left">
                        <h2>Transcribe</h2>
                        <p>
                            Sabemos lo dificil que es transcribir contenido, Skopos facilita la labor.
                        </p>
                    </div>
                </div>
                <div class="col icon span_1_of_4"><i class="fa fa-keyboard-o fa-2x icon_tl"></i></div>
            </div>
        </div>
        </a>
        
         <%if(user){%>
        <a href="/collab/new" class="menu_link">
        <%}else{%>
        <a href="#modal-one" class="menu_link">
         <%}%>

        <div class="bottom infobox">
            <div class="group">
                <div class="col description span_3_of_4">
                    <div class="content_left">
                        <h2>Crea tu Grupo</h2>
                        <p>
                            Crea un grupo de colaboración para trancribir un video de tu interés. !Comparte, Animate con tus Amigos!
                        </p>
                    </div>
                </div>
                <div class="col icon span_1_of_4"> <i class="fa fa-trophy fa-2x icon_bl"></i> </div>
            </div>
        </div>
      </a>
    </div>
    <div class="col span_1_of_2">
    <%if(user){%>
        <a href="/collabList" class="menu_link">
        <%}else{%>
        <a href="#modal-one" class="menu_link">
         <%}%>
     <div class="top infobox">
        <div class="group">
            <div class="col icon span_1_of_4"><i class="fa fa-gamepad fa-2x icon_tr"></i></div>
            <div class="col description span_3_of_4">
                <div class="content_right">
                    <h2>Unete y Ayudanos</h2>
                    <p>
                        Unete a una colaboración de transcripción, seleccionandola o ingresando el link compartido.
                    </p>
                </div>
            </div>
        </div>
    </div>
     </a>
    <div class="bottom infobox">
       <div class="group">
        <div class="col icon span_1_of_4"><i class="fa fa-graduation-cap fa-2x icon_br"></i></div>
        <div class="col description span_3_of_4">
            <div class="content_right">
                <h2>Aprende</h2>
                <p>
                    Incrementa tus habilidades de escucha en el idioma que tanto quieres hablar.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="rombo">
</div>
</div>

<div>
    <div class="group stats row">
        <div class="design col span_1_of_3">
            <div class="result">
                <div class="fa fa-play-circle fa-3x icon_2"></div>
                <span id="videos_transc" class="label_out"> 0 </span>
                <span class="label_in" > Videos Transcritos</span>
            </div>
        </div>
        <div class="won col span_1_of_3">
            <div class="result">
                <div class="fa fa-trophy fa-3x icon_2"></div>
                <span id="collabs_go" class="label_out"> 0</span>
                <span  class="label_in"> Colaboraciones </span>
            </div>
        </div>
        <div class="sent col span_1_of_3">
            <div class="result">
                <div class="fa fa-language fa-3x icon_2"></div>
                <img class="icon_2"></img>
                <span id="leng_sopor" class="label_out">0</span>
                <span class="label_in">Lenguajes soportados</span>
            </div>
        </div>
    </div>
</div>


<div class="group content center row_video ">
    <div class="col span_1_of_2">
        
        <fieldset>

        <legend> <i> <h4>Videos Interesantes para Transcribir</h4> </i> </legend>
        
         <div class="col span_1_of_2">
            <img class="video_min" src="../img/vid1.jpg"></img>
        </div>

        <div class="col span_1_of_2">
            <img class="video_min" src="../img/vid3.jpg"></img>
        </div>
        
        <div class="col span_1_of_2 ">
            <img class="video_min" src="../img/vid2.jpg"></img>
        </div>

         <div class="col span_1_of_2 ">
            <img class="video_min" src="../img/vid4.jpg"></img>
        </div>
       

       </fieldset>
    </div>  

    <div class="col span_1_of_2">

        <fieldset>

        <legend> <i> <h4>Colaboraciones Recientes</h4> </i></legend>
        
        <div class="col span_1_of_2">
            <img class="video_min" src="../img/vid5.jpg"></img>
        </div>

        <div class="col span_1_of_2">
            <img class="video_min" src="../img/vid6.jpg"></img>
        </div>
        
        <div class="col span_1_of_2 ">
            <img class="video_min" src="../img/vid7.jpg"></img>
        </div>

         <div class="col span_1_of_2 ">
            <img class="video_min" src="../img/vid8.jpg"></img>
        </div>

        </fieldset>
    </div>
    
</div>

  <div class="footer   span_3_of_3">
    <div class="center footer_cont">
       <p> Tecnologías Avanzadas <br> Universidad Pontificia Bolivariana </p> 

       <hr>

       <div class="center_links">

            <i class="fa fa-facebook-square fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-google-plus fa-2x"></i>
            <i class="fa fa-reddit fa-2x"></i>

        </div>
  
    </div>

  </div>



</body>
</html>
