<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css"> 
        <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>

    <div class="wrapper_lightbox">  
        <div class="login_window">
            <div class="login_content">

                <input type="button" id="button_cerrar" value="x" onclick="location.href='index.html';"> 
                <input type="text" id="input_user" placeholder="Usuario"><br>
                <input type="password" id="input_pass" placeholder="Password"><br>
                <input type="button" id="button_loggin" value="Ingresar">
                
            </div>
        </div>
    </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

    </body>
</html>