<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Skopos:Transcribe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/mainsolo.css">
        <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="center">
            <div class="videoContainer">
                <div class="videoTitle">
                    <h1 class="huge">Smaller PNG Files (100 Days of Google Dev)</h1>
                </div>
                <div class="videoMedia">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2TUvmlGoDrw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="inputContainer" contenteditable="true">
                <div class="prevInput"></div>
                <div class="currentInput"></div>
            </div>
        </div>

        <script src="../js/plugins.js"></script>
        <script src="../js/singleplayer.js"></script>
        <script src="../js/userinput.js"></script>
        <script src="../js/editor.js"></script>
    </body>
</html>
