.completion{
	background-color: #fcdb34;
}
.collaboratorsList{
	list-style: none;
}
.collaborator{
	display: inline-block;
	background-color: #ADDEF1;
}
.previnput{
	margin-top:20%;
}

.elem
{
	height: auto !important;
}
.center_part
{
	margin-left: 120px;
}