body
{
	    font-family: 'Oxygen', sans-serif;
}

.information {
    color: #777;
    text-align: center;
}


.skopos-grey{
	color:#212121;
}
input{
	 width: 560px;
}
.share{
	background-color: #2121F1;
	padding:10px;
}

.center{
    width:560px;
    margin:0 auto;
}

.elem
{
	height: auto !important;
}

.colaboracion
{
	text-align: justify;
}

.col_elem
{
	margin-top:20px !important;
}

.col_elem_btn
{
	margin-left: 245px;
	margin-top:20px !important;
}